<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Home Page</title>
</head>
<body>
    {{> header}}
    <p>Handlerbars is node js template engine in Home Page</p>
    <p>Using res.render to access views folder from template engine</p>
    <p>{{screamIt message}}</p>
    {{> footer}}
</body>
</html>